<h2>Los usuarios agregados en el sistema son:</h2>
<!-- si hay datos los representas -->
<!-- si no hay salta un aviso -->

<ng-container
  *ngIf="usuarios?.length == 0 || usuarios == undefined; else elseTemplate"
>
  <div class="alert alert-warning" role="alert">
    No hay usuarios en el sistema
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col" *ngFor="let item of usuarios">
      <div class="card">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ item.nombre }}</h5>
          <p class="card-text">
            {{ item.genero | uppercase }}
            {{ item.fecha | date : "dd/MM/yyyy" }}
          </p>
          <button
            class="btn btn-primary"
            [routerLink]="['/detail', item.nombre]"
          >
            Ver detalle
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
