<!-- <div class="container mt-4">
  <h1>Inicio Angular</h1>
  <img [src]="logo" style="width: 30%" />
  <input
    placeholder="introduce tu nombre"
    class="form-control"
    [(ngModel)]="nombre"
  />

  <input
    placeholder="introduce tu apellido"
    class="form-control"
    [(ngModel)]="apellido"
  />
  <select class="form-select" [(ngModel)]="genero">
    <option>Selecciona genero</option>
    <option>Masculino</option>
    <option>Femenino</option>
  </select>
  <button class="btn btn-primary mt-4" (click)="limpiarDatos()">
    Confirmar
  </button>
  <p class="mt-4">
    Primera app realizada en Angular por {{ nombre }} {{ apellido }} para la
    asignatura {{ asignatura }}
  </p>

  <h2>Los componentes son:</h2>

  <div class="row">
    <app-home class="col mt-4"></app-home>
    <app-list class="col mt-4"></app-list>
  </div>
</div>
 -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['home']" aria-current="page"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['form']">Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['list']">List</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
